#rave-alerts .alert {
	background: #a20000;
	padding: 15px 13%;
	color: #fff;
	margin: 0;
	font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 1.1;
	text-align: left;
	font-weight: 200;
}

#rave-alerts .alert h2 {
   font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 26px;
	line-height: 1.1;
	font-weight: 750;
}

#rave-alerts a:link,
#rave-alerts a:visited {
	color: #111;
	background: #fff;
  font-size: 14px;
	display: inline-block;
	line-height: 110%;
	font-weight: 700;
	padding: 4px 8px;
	margin:0 10px;
	white-space: nowrap;
}