#rave-alerts .alert {
	background: #a20000;
	padding: 15px 13%;
	color: #fff;
	margin: 0;
	font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 21px;
	line-height: 1.1;
	text-align: left;
	font-weight: 200;
}

#rave-alerts .alert h2 {
   font-family: "Neue Helvetica W05", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 26px;
	line-height: 1.1;
	font-weight: 750;
}

#rave-alerts a:link:not(.internal),
#rave-alerts a:visited:not(.internal) {
	color: #111;
	background: #fff;
  font-size: 14px;
	display: inline-block;
	line-height: 110%;
	font-weight: 700;
	padding: 4px 8px;
	margin:0 10px;
	white-space: nowrap;
}

a.internal:link {
   color: #fff;
   text-decoration: underline
}

a.internal:visited {
	color: #fff;
	text-decoration: underline;
}

a.internal:hover {
	color: #fff;
	text-decoration: none;
}